{% extends "layouts/layout1.html" %}
{% block title %}
The Search
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

<div class="container">
<h1>Scheduler</h1>
  <p>Use this tool to keep track of your schedules and ensure you are meeting your credit and course requirements.</p>
  <p>Maximum of <strong>6</strong> schedules allowed to be held at one time</p>

  <ul>
    <li>Download the Scheduling Template and add your classes:
    <a href="file:///C://Users//Joseph//Google Drive//Code Miesters//premeddb//static//schedulertemplate.xlsx" download>
    Scheduling Template
    </a>
    </li>
    <li>Reupload the template to store it into your schedule.</li>
  </ul>




<p><br></p>


<form method=POST enctype=multipart/form-data action="{{ url_for('scheduler') }}">
    <input type="text" placeholder="Enter Schedule Name" name="schedulename" value="{{ request.form.schedulename }}">
    <input type=file name=inputfile>
    <input type="submit" value="Submit">
</form>

<table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Schedule Number</th>
          <th>Schedule Name</th>
          <th>File</th>
          <th>Delete</th>
        </tr>
      </thead>
        {% for r in result %}
          <tr>
            <td>
                {{r.id}}
            </td>
            <td>
                {{r.schedulename}}
            </td>
            <td>
                 <a href="{{r.schedule}}" download>Download</a>
            </td>
            <td>
            <form action="{{ url_for('deletescheduler') }}" method="post">
            <button class="btn btn-danger" type="submit" name="schedulerdelete" value="{{ r.id }}">
            <span class="glyphicon glyphicon-trash"></span></button>
            </form>
            </td>
          </tr>
        {% endfor %}
</table>
</div>

{% endblock %}